
<table class="table">
    @{
        string name = ViewBag.name;
        <thead>
            <tr>@name</tr>
                <tr>
                    <th scope="col">வரிசை எண்</th>
                    <th scope="col">அதிகாரங்கள்</th>
                    <th scope="col">குறள்கள்</th>
                </tr>
        </thead>
    
        
        System.Collections.Generic.List<string> Athikarangal = ViewBag.x;
            
            for(int i = 1; i <= Athikarangal.Count; i++)
            {
                <tr>
                    <th scope="row">@i</th>
                    <td>@Athikarangal[i-1].ToString()</td>
                    <td><a href="/Home/Index?@i">குறள்கள்</a></td>
                </tr>
            }        
    }
    </table>
