<table class="table">
    <thead>
            <tr>
                <th scope="col">வரிசை எண்</th>
                <th scope="col">அதிகாரங்கள்</th>
                <th scope="col">குறள்கள்</th>
            </tr>
    </thead>
    @{
        string[] Athikarangal = ViewBag.ChapterLines;
    
        for(int i = 1; i <= Athikarangal.Length; i++)
        {
                <tr>
                    <th scope="row">@i</th>
                    <td>@Athikarangal[i-1].ToString()</td>
                    <td>குறள்கள்</td>
                </tr>
        }
    }
    </table>
