<div class="text-center">
    <h1 class="display-4"> வணக்கம் திருக்குறள் பயிலா வருகை தந்தமைக்கு</h1>
</div>
<div class="container">
        <div class="panel panel-default">
           <div class="panel-body">
                <p><b>குறள் 1 :</b></p>
                <p>அகர முதல எழுத்தெல்லாம் ஆதி</p>
                <p>பகவன் முதற்றே உலகு.</p>
                <p><b>விளக்கம் :</b></p>
                <p>எழுத்துக்கள் எல்லாம் அகரத்தை அடிப்படையாக கொண்டிருக்கின்றன. அதுபோல உலகம் கடவுளை அடிப்படையாக கொண்டிருக்கிறது.</p>
           </div> 
        </div>
</div>
