@{
    ViewData["Title"] = "குறள்பால்கள்";
}
<h1>@ViewData["Title"]</h1>

<p>திருக்குறளில் மூன்று வகையான பால்கள் உள்ளன.</p>

 <table class="table">
        <thead>
            <tr>
                <th scope="col">வரிசை எண்</th>
                <th scope="col">பால்</th>
                <th scope="col">அதிகாரங்கள்</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>அறத்துப்பால்</td>
                <td>அதிகாரங்கள்</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>பொருட்பால்</td>
                <td>அதிகாரங்கள்</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>காமத்துப்பால்</td>
                <td>அதிகாரங்கள்</td>
            </tr>
        </tbody>
    </table>
